<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ITCollabHub"
        tools:targetApi="26">
        <activity
            android:name=".view.projectmenusviews.activities.editRole.EditRoleActivity"
            android:exported="false" />
        <activity
            android:name=".view.projectmenusviews.activities.roles.AddPeoplesInRoleFragment"
            android:exported="false" />
        <activity
            android:name=".view.profileviews.activities.NotificationsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.roles.RolesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            tools:replace="android:screenOrientation" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.ParticipControlPanel"
            android:exported="false" />
        <activity
            android:name=".view.aimenu.AiActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.UsersProject2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.files.ProjectFilesEndProject"
            android:exported="false" />
        <activity
            android:name=".view.profileviews.activities.ChooseThemeForApp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.demo.DemoProjectPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.demo.ProjectProblemsDemo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.demo.ProjectPurposesDemo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.demo.EditProjectDemo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.demo.ControlPanelDemo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.demo.UsersProjectDemo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.demo.CreateProjectTasksDemo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.demo.CreateProjectPurposesDemo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.demo.CreateProject2Demo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.ProjectPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.ControlPanel3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.UsersProject3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.forum.CreateArticle"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.tasks.CreateDedline2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.tasks.CreateDeadline"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.NotifyInParticipants"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.EndProject"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.ProjectParticipants"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.tasks.TaskActivityWatch"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.tasks.ActivityWork"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.tasks.CompltedTasksByParticipants"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.tasks.ActivityTaskMenuForLeader"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.tasks.AnswerForTask"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.tasks.TaskMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.tasks.PartisipantTasks"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.tasks.CreateTask"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.forum.Forum"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.tasks.TasksActivityMain"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.AddParticipant"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.create.EditProblemPurpose"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.create.CreateProject2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.advertisments.Advertisment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.advertisments.EditAdvertisment"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.advertisments.ProjectAdvertisments"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.ControlPanel2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.files.EditFile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.files.ProjectFiles"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.problems.EditProblem"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.problems.ProblemsParticip"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.purposes.PurposeParticipiant"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.problems.Problems"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.purposes.Purpose"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.ProjectRequests"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.ControlPanel"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.EditProject"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.UsersProject"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.profileviews.activities.EditProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.create.CreateProject"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.projectmenusviews.activities.projectMenu.ActivityProject"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.profileviews.activities.GetFriend"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.profileviews.activities.FriendProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.authorizeviews.CreateAccount"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.authorizeviews.ConfirmForgotPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.authorizeviews.Forgot"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.authorizeviews.LogIn"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.profileviews.activities.Profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.authorizeviews.ConfirmReg"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.authorizeviews.Register"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/rounded" />

        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>